@page
@model Capstonep2.Pages.Manage.sampleModel
@{
}
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Print or ScreenShot</h2>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer"> 

    </div>
</div>
</div>